/* Global styles */

  



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('path/to/your/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .header h1 {
    text-align: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-left: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  .heroine {
    background-image: url(ind.jpg);
    background-size: cover;
    background-position: center;
    color: #000000;
    text-align: center;
    padding: 50px 10px;
    object-fit:contain;
    height: 34rem;
    
  }
  html{
    scroll-behavior: smooth;
  }
  
  main {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 2rem;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  input, textarea {
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  
  /* Specific styles */
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  #services ul {
    list-style: disc;
    margin-left: 2rem;
  }
  
  #about p:first-child {
    margin-top: 0;
  }
  
  #contact label {
    font-weight: bold;
  }
  